body {
    background-color: white;
    color: black;
    margin: 0 0.1in;
    font-family: "Open Sans", Tahoma, sans-serif;
    /* font-family: Georgia, "Bitstream Charter", serif; */
    line-height: 1.25em;  /* gives leading of 0.25em between lines:  1.25em - 1.0em font size */
}

img {
    border: none;
    margin: 0;
}

div { margin: 0; }

p { margin: 0.5em 0.5em; }

h1, h2, h3 {
    font-family: sans-serif; 
    clear: both; 
}

h1 { 
    font-size: 130%;
    margin-top: 0.2in;
    margin-bottom: 0.2in;
    border-top-style: none;
    color: #328DAE;
}  
h1 a { text-decoration: none; }
h1 a:link, h1 a:visited, h1 a:hover, h1 a:active { color: #328DAE; }

h2 {
    font-size: 115%;
    margin-top: 0.1in;
    margin-bottom: 0.1in;
    color: #328DAE;
}

h3 {
    margin-top: 0.1in;
    margin-bottom: 0in;
    font-size: 100%;
    color: #000000;
}

table { border-spacing: 0; }

th.main, td.main {
    vertical-align: top;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    width:47%;
}
    
table.in_frac { 
    display:inline; 
    margin-top:0; 
    margin-bottom:0;
    text-align: center; 
    font-size: 80%;
    vertical-align: 1ex; 
}

table.frac { 
    display:inline; 
    margin-top:0; 
    margin-bottom:0;
    text-align: center; 
    vertical-align: .8ex;
}

/* sup and sub for sum-like operators */
span.sum {  margin-right: .5ex; }
.sum { line-height: 1.5; }
.sum sub { margin-left: .1ex; }
.sum sup { margin-left: -2.9ex; }

span.in_sum {  margin-right: 2ex; }
.in_sum sub { margin-left: .1ex; }
.in_sum sup { margin-left: -2.9ex; }

/* sup style needed for Opera (why?) */
sup { 
    vertical-align: 1ex; 
    font-size:80%; 
}
sub { 
    vertical-align: -0.6ex; 
    font-size:80%; 
}

span.bigg { font-size:120%; }  /* for big math symbols */

td.den {
    border-top:solid 1px black;
    line-height: .9;
    padding: 0px;
    padding-top: 2px;
} /* for horiz line in fractions */

td.num {
    line-height: .7;
    margin-bottom:0;
    padding: 0px;
    padding-bottom: 2px;
}
.num sub {
    line-height: .7;
    margin-bottom:0;
}
